# Vite API Request base URL
VITE_API_URL=http://localhost:3001/api/v1

# Brand metadata name
VITE_APP_NAME=PortfolioVerse AI

# Cloudinary cloud folder name
VITE_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
